/* fonts.css */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
